<h1>Edit Comment</h1>

<%= form_with model: [@project, @comment], url: project_comment_path(@project, @comment), method: :patch do |form| %>
  <%= form.label :content %>
  <%= form.text_area :content %>

  <%= form.submit "Update Comment" %>
<% end %>
